* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.body {
  background-color: #f0f2f5;
  width: 100%;
  height: 100%;
}
.header {
  height: 8%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}
.chatbox {
  height: 400px;
  width: 330px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 80px;
  bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 10px;
}
.headerChat,
.footerChat {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.headerChat {
  /* box-shadow: 0px 1px 2px #bbb; */
  border-bottom: 1px solid #bbb;
  border-radius: 10px 10px 0px 0px;
}
.icons {
  height: 23px;
  width: 23px;
}
.icons1 {
  color: #bbb;
}
.messageInput {
  height: 23px;
  border-radius: 11.5px;
  width: auto;
  padding: 2px 7px;
  background-color: #f0f2f5;
}
.title {
  display: flex;
  align-items: center;
  font-size: large;
  width: 180px;
}
.profileImage {
  border-radius: 15px;
  margin: 0px 5px;
  height: 30px;
  width: 30px;
}
.profileImage2 {
  border-radius: 12.5px;
  margin: 0px 5px;
  height: 25px;
  width: 25px;
  align-self: flex-end;
  margin-bottom: 5px;
}
.name1 {
  font-size: 18px;
  overflow: hidden;
  width: 150px;
  white-space: nowrap;
}
.iconList {
  width: 140px;
  display: flex;
  justify-content: space-evenly;
}
.chat {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.time {
  display: flex;
  font-size: x-small;
  color: #bbb;
}
.timeStamp {
  justify-content: center;
}
.lastSeen {
  justify-content: flex-end;
}
.msg {
  display: flex;
  width: 100%;
  align-items: center;
}
.msg p {
  max-width: 190px;
  padding: 8px 8px;
  border-radius: 20px;
  background-color: #e4e6eb;
  margin: 5px 5px;
}
.mine {
  flex-direction: row-reverse;
}
.mine p {
  background-color: #1876f2;
  color: white;
}
.others p {
  max-width: 160px;
}
i {
  padding: 4px 4px;
  border-radius: 50%;
}
.onMsgHover {
  margin: 0px 4px;
  padding: 4px 4px;
  opacity: 0;
  border-radius: 50%;
}
.msg:hover .onMsgHover {
  opacity: 1;
}
i:hover {
  background-color: #e4e6eb;
}
.fa-ellipsis-v {
  padding: 4px 9px;
}
.msgPic {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 5px 5px;
}
